QWidget#dashboardGestionView {
    background-color: $bg_app;
}

QWidget#dashboardGestionView QFrame[card="true"] {
    padding: 16px;
}

QWidget#dashboardGestionView QPushButton {
    text-align: left;
    padding-left: 18px;
}
